<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated microModeling -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="micromodeling.model.MicrocontrollerModeling.presentation.MicrocontrollerModelingModelWizardID"
            name="%_UI_MicrocontrollerModelingModelWizard_label"
            class="micromodeling.model.MicrocontrollerModeling.presentation.MicrocontrollerModelingModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MicrocontrollerModelingModelFile.gif">
         <description>%_UI_MicrocontrollerModelingModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated microModeling -->
      <editor
            id="micromodeling.model.MicrocontrollerModeling.presentation.MicrocontrollerModelingEditorID"
            name="%_UI_MicrocontrollerModelingEditor_label"
            icon="icons/full/obj16/MicrocontrollerModelingModelFile.gif"
            extensions="microcontrollermodeling"
            class="micromodeling.model.MicrocontrollerModeling.presentation.MicrocontrollerModelingEditor"
            contributorClass="micromodeling.model.MicrocontrollerModeling.presentation.MicrocontrollerModelingActionBarContributor">
      </editor>
   </extension>

</plugin>
